[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
"pep8" = "*"
pycodestyle = "*"
django = "*"
djangorestframework = "*"
pygments = "*"
"psycopg2" = "*"
numpy = "*"
"psycopg2-binary" = "*"
coverage = "*"
coveralls = "*"
python-dotenv = "*"
django-rest-registration = "*"
pytest = "*"
djangorestframework-jwt = "*"
django-allauth = "*"
django-rest-auth = "*"
pyyaml = "==3.12"
django-cors-headers = "*"
graphene = "==2.0.1"
graphene-django = "==2.0.0"
django-filter = "==1.1.0"
django-graphql-jwt = "==0.1.5"

[dev-packages]

[requires]
python_version = "3.6"
