[report]
omit = 
    */migrations/*
    */site-packages/*
    */.virtualenvs/*
    */virtualenvs/*
    */manage.py
    */tests/*
    */static/*
    */ridemyway/*
    /home/travis/virtualenv/python3.6.3/lib/python3.6/distutils/__init__.py
show_missing = True